/*
    Author: Connor Kippes
*/

.button {
    background: var(--color-accent);
    border: none;
    color: var(--color-text);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform .05s ease;
}
.button:active {
    transform: scaleY(0.8) scaleX(1.2);
}

.button:hover {
    filter: brightness(1.1);
}
.button:focus {
    outline: none;
}