.container{
    display:flex;
    gap: 3px;
    align-items:center;
}

.name {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.2s ease;
}


.caret{
    fill:var(--color-text);
    height:15px;
    transition: transform .4s ease;
}

.container:hover {
    cursor: pointer;
}

.container:hover .name{
    color: var(--color-accent);
}

.container:hover .caret{
    transform: scaleY(-1);
    fill:var(--color-accent);
}
