/*
    Author: Connor Kippes
*/

.dropdown{
    position: absolute;
    transform: translate(-100%, 0);
    background: var(--color-tertiary);
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: 1rem;
    border-top-right-radius: 0;
    z-index: 1000;
}

.container{
    display:flex;
    flex-direction: column;
    width:250px;
    background-color:var(--color-secondary);
    border-radius: 10px;
    cursor:pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--color-text) solid;
    padding:1rem;
    align-items:center;
}

.dots{
    height: 1.5rem;
    fill:var(--color-text);
}
.dots:hover{
    fill:var(--color-accent);
}
.dots:active{
    fill:var(--color-accent);
}


.bottom{
    display:flex;
    flex-direction:column;
    gap:1.25rem;
    padding:1.25rem;
}

.color{
    height: 1rem;
    width: 1rem;
    border-radius:50%
}

.namePair{
    display:flex;
    align-items:center;
    gap: 5px;
}

.totalScore{
    font-weight:500;
}

.playerRow {
    display:flex;
    justify-content: space-between;
}

.button {
    all:unset;
    cursor:pointer;
}
