/*
    Author: Connor Kippes
*/

.dropdown{
    position: absolute;
    transform: translate(-100%, 0);
    color: var(--color-text);
    z-index: 1000;
}

.inside{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    padding: .5rem;
}