.titleContainer {
    display: flex;
    gap: .5rem;
    font-weight: bold;
}

.logo:hover {
    cursor:pointer;
}

.title {
    text-wrap: nowrap;
}

.title:hover {
    cursor: pointer;
}

.logo{
    height: 2rem;
}