/*
    Author: Connor Kippes
*/

.container{
    all:unset;
    display:flex;
    gap: 3px;
    align-items:center;
    cursor:pointer;
}

.name {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    font-size:1rem;
    transition: color 0.2s ease;
    white-space:nowrap;
}


.caret{
    fill:var(--color-text);
    transition: transform .2s ease;
}

.container:hover .name{
    color: var(--color-accent);
}
.container:hover .caret{
    fill:var(--color-accent);
}

.active {
    cursor: pointer;
}

.active .name{
    color: var(--color-accent);
}

.active .caret{
    transform: rotate(180deg);
    fill:var(--color-accent);
}

.button {
    all:unset;
    cursor:pointer;
}