/*
    Author: Connor Kippes
*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: var(--color-secondary); /* dark background */
    justify-self: center;
    border-radius: 9999px;
    margin: 1rem auto;
    width: 100%;
    border: var(--border);
    box-shadow: var(--box-shadow);
    white-space: nowrap;
    flex-wrap: nowrap;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 1rem 1rem;
    }
}
