/*
  Author: Connor Kippes
  
  CSS for all pages
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --bg-color-main: #131313;
    --bg-color-elem: #2b2b2b;
    --text-color-light: #ffffff;
    --text-color-dark: #898989;
    --accent-color-light: #92d3f5;
    --accent-color-medium:#61b2e4;
    --accent-color-dark:#218acc;

    --ff: 'Inter', sans-serif;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/45px var(--ff);
    --h3: 21px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --button-text: 24px/24px var(--ff);
    --subtext: 13.5px/20px var(--ff);
}


/* Global page container (wraps all content) */
#root {
  max-width: 1360px;   /* pick your site’s standard width */
  margin: 0 auto;      /* centers content */
  padding: 0 1rem;     /* spacing for small screens */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color-main);
    color: var(--text-color);
    font-family: var(--ff);
    font-weight: 300;
}

main {
    margin: 125px auto;
    max-width: 1080px;
    flex-grow: 1;
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: '';
  background-image: url(../images/boardgame-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}

html, body {
    font-family: var(--ff);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;      /* optional: smooth scrolling */
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}