/*
    Author: Connor Kippes
*/

.boardContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:2rem;
    margin:2rem 0;
}

.emptyText{
    width: 100%;
    text-align:center;
}

.leftNav{
    display:flex;
    gap:1rem;
    align-items:center;
}

.rightNav{
    display:flex;
    gap:2rem;
    align-items:center;
}

.button {
    all: unset;
    cursor: pointer;
}

.icon {
    height: 2rem;
    fill:white;
    cursor:pointer;
}

/*----ADD PLAYER UI----*/
.addItemsRow{
    display:flex;
    gap:1rem;
}

.nameInput {
    all:unset;
    max-width:10rem;
    font-weight:600;
    font-family: var(--ff);
    font-size: 1.5rem;
}

.colorInput{
    appearance:none;
    -webkit-appearance:none;
    border:none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor:pointer;
    transform: translateY(.25rem);
}
/* Chrome/Safari/iOS */
.colorInput::-webkit-color-swatch-wrapper{ padding: 0px;}
.colorInput::-webkit-color-swatch {
    border:none;
    border-radius:12px;
}
/* Firefox */
.colorInput::-moz-color-swatch {
    border:none;
    border-radius: 12px;
}