/*
    Author: Connor Kippes
*/

.leftNav{
    display:flex;
    gap:1rem;
    align-items:center;
}

.rightNav{
    display:flex;
    gap:2rem;
    align-items:center;
}

.button {
    all: unset;
    cursor: pointer;
}

.button:hover{
    color: var(--color-accent)
}

.icon {
    height: 2rem;
    fill:white;
    cursor:pointer;
}

.icon:hover {
    cursor: pointer;
    fill: var(--color-accent);
}

.boardContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1rem;
}


.top{
    border-bottom:1.5px var(--color-subtext) solid;
    text-align:center;
    padding:1rem;
}
.bottom{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    align-self:center;
    padding:1rem;
}


/*----ADD PLAYER UI----*/
.addPlayerContainer {
    padding: .5rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.addPlayerItem{
    display:flex;
    gap:1rem;
}

.nameInput {
    all:unset;
    max-width:10rem;
    font-weight:600;
    font-family: var(--ff);
    font-size: 1.5rem;
}

.colorInput{
    appearance:none;
    -webkit-appearance:none;
    border:none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor:pointer;
    transform: translateY(.25rem);
}
/* Chrome/Safari/iOS */
.colorInput::-webkit-color-swatch-wrapper{ padding: 0px;}
.colorInput::-webkit-color-swatch {
    border:none;
    border-radius:12px;
}
/* Firefox */
.colorInput::-moz-color-swatch {
    border:none;
    border-radius: 12px;
}



/*----DELETE PLAYER UI----*/
.deletePlayerContainer{
    padding:1rem;
    max-height:400px;
}

.deletePlayerItem{
    display:flex;
    justify-content:space-between;
    width:100%;
}


.deleteIcon {
    height: 2rem;
    fill:white;
    cursor:pointer;
}

.deleteIcon:hover {
    transform: translateY(-5px);
    fill:var(--color-red);
}

.centerText{
    text-align:center;
}

.cancelButton{
    margin:1rem;
    display:flex;
    justify-content:center;
}