/*
    Author: Connor Kippes
*/

.leftNav{
    display:flex;
    gap:1rem;
    align-items:center;
}

.button {
    all: unset;
    cursor: pointer;
}

.button:hover{
    color: var(--color-accent)
}

.icon {
    width: 2rem;
    height: 2rem;
    fill:white;
}

.icon:hover {
    cursor: pointer;
    fill: var(--color-accent);
}

.boardContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.spacer{
    margin-bottom:30rem;
}