.header {
    display: flex;
    justify-content: space-between; /* logo left, nav right */
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-secondary); /* dark background */
    border-bottom: 1px solid #242424;; /* optional, nice touch */
    width: 100%;
    justify-self: center;
    border-radius: 50px;
    margin: 1rem auto;
    opacity: 90%;
}

.nav {
    display:flex;
    gap: 1.25rem;
    align-items:center
}

.header ol {
    list-style: none; /* remove bullets */
}

.header a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.2s ease;
}

.header a:hover {
    color: var(--color-accent); /* accent color on hover */
    cursor: pointer;
}

.icon{
    fill:var(--color-text);
    height:15px;
}

.dropdown{
    display:flex;
    gap: 5px;
    align-items:center;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}


/*------- DESKTOP HEADER -------*/



/*------- MOBILE HEADER -------*/