.header {
    display: flex;
    justify-content: space-between; /* logo left, nav right */
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-secondary); /* dark background */
    border-bottom: 1px solid #242424;; /* optional, nice touch */
    width: 100%;
    justify-self: center;
    border-radius: 50px;
    margin: 1rem auto;
    opacity: 80%;
}

.header ol {
    list-style: none; /* remove bullets */
    display: flex;    /* make horizontal */
    gap: 1.5rem;      /* spacing between items */
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.2s ease;
}

.header a:hover {
    color: var(--color-accent); /* accent color on hover */
}