/*
    Author: Connor Kippes
*/

.container{
    display:flex;
    flex-direction: column;
    width:350px;
    cursor:pointer;
}

/*-----TOP-----*/

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding:16px;
    align-items:center;
}

.name{
    font-weight:600;
    font-size: 32px;
}

.dots{
    height: 35px;
    fill:var(--color-text);
}
.dots:hover{
    fill:var(--color-accent);
}
.dots:active{
    fill:var(--color-accent);
}


/*----BOTTOM -----*/

.bottom{
    display:flex;
    flex-direction:column;
    gap:25px;
    padding:25px;
}

.color{
    height: 20px;
    width: 20px;
    border-radius:50%;
}

.namePair{
    display:flex;
    align-items:center;
    gap: 10px;
}

.playerName{
    font-size:20px;
}

.totalScore{
    font-weight:500;
    font-size:20px;
}

.playerRow {
    display:flex;
    justify-content: space-between;
}

.button {
    all:unset;
    cursor:pointer;
}
