/*
    Author: Connor Kippes
*/

.container{
    display:flex;
    flex-direction: column;
    max-height: 300px;
    width:325px;
    cursor:pointer;
    padding: 1rem;
}

/*-----TOP-----*/

.top {
    display: flex;
    justify-content: space-between;
    border-bottom:1.5px var(--color-subtext) solid;
    padding:1rem;
    align-items:center;
}

.name{
    font-weight:600;
    font-size: 32px;
}

.dots{
    height: 35px;
    fill:var(--color-text);
}
.dots:hover{
    fill:var(--color-accent);
}
.dots:active{
    fill:var(--color-accent);
}


/*----BOTTOM -----*/

.bottom{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1rem;
    overflow-y:auto;
    scrollbar-width: none;
}
.bottom::-webkit-scrollbar {
  display: none;         /* Chrome, Edge, Safari: hide scrollbar */
}

.bottom:focus {
  outline: none;         /* remove focus outline if using keyboard */
}


.color{
    height: 20px;
    width: 20px;
    border-radius:50%;
}

.namePair{
    display:flex;
    align-items:center;
    gap: 10px;
}

.playerName{
    font-size:20px;
}

.totalScore{
    font-weight:500;
    font-size:20px;
}

.playerRow {
    display:flex;
    justify-content: space-between;
}

.button {
    all:unset;
    cursor:pointer;
    z-index:5;
}
