/*
    Author: Connor Kippes
*/

.dropdown{
    position: absolute;
    transform: translate(-100%, 0);
    background: var(--color-tertiary);
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: 1rem;
    border-top-right-radius: 0;
    z-index: 1000;
}