/*
    Author: Connor Kippes
*/

.dropdown{
    position: absolute;
    display:flex;
    flex-direction:column;
    gap:.5rem;
    transform: translate(-100%, 0);
    background: var(--color-tertiary);
    color: var(--color-text);
    padding: 8px 12px;
    border-radius: .5rem;
    z-index: 1000;
    border: 2px rgba(255, 255, 255, .2) solid;
}