/*
    Author: Connor Kippes
*/

/*------TOP------*/
.navbarContainer {
    display:flex;
    flex-direction:column;
    background-color:var(--color-secondary);
    position:sticky;
}

.navbar {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:.5rem 1rem;
    border-radius:1rem;
    align-items:center;
}

.menu {
    right: 0;
    top: 0;
    background-color: var(--color-tertiary);
    padding:2rem 7rem 7rem 2rem;
    width:fit-content;
}

.list {
    list-style:none;
    display:flex;
    flex-direction:column;
    padding:1rem;
    gap:2rem;
}

.button {
    all: unset;
    cursor: pointer;
}

.button:hover{
    color: var(--color-accent)
}

.icon {
    width: 2rem;
    height: 2rem;
    fill:white;
}

.icon:hover {
    cursor: pointer;
    fill: var(--color-accent);
}

.boardContainer{
    display:flex;
    flex-direction:row;
    gap:.5rem;
}