/*
    Author: Connor Kippes
*/

.gamePreviewContainer{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.center {
    text-align:center;
}
.link {
    text-decoration: none;
    color: var(--color-accent);
    font-weight:bold;
}
.icon{
    height:3rem;
    fill:var(--color-text);
}

.titleImg{
    height: 20rem;
    width: auto;
    object-fit: contain;
}

.boxImg{
    height: 20rem;
    width: auto;
    object-fit: contain;
}

.underTitleContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    flex-wrap: wrap;
}
.credits{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.howToPlay{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

.iconContainer{
    display:flex;
    gap:.5rem;
    align-items:center;
}
.playtimeContainer{
    display:flex;
    gap:1rem;
}
.about{
    display:flex;
    flex-direction:column;
    align-self:center;
    align-items:center;
    max-width:55rem;
    gap:1rem;
}