/*
    Author: Connor Kippes
*/

/*-----GENERAL STUFF--------*/
.section{
    height:100vh;
}

.spacer{
    height: 4rem;
}
.link{
    text-decoration:none;
    color: var(--color-text);
    cursor:pointer;
}
.title{
    font-size:4rem;
    text-align:center;
}

.colorText{
    display:inline;
    color: var(--color-accent);
}

/*-----TOP PART ------*/
.topContainer{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:100%;
}
.inner{
    display:flex;
    justify-content:space-between;
    gap:2rem;
}

/*-----IMAGE MARQUE--------*/
.imageCardContainer {
    display:flex;
    align-items: flex-start;
    flex-wrap:wrap;
    justify-content: center;
    gap:2rem;
}

.imgContainer {
  display: grid;
}

.imgContainer > * {
  grid-area: 1 / 1; /* put everything in same cell */
}
.imgContainer img{
    border-radius:1rem;
    border:var(--border);
    height:10rem;
}
.imgContainer button{
    all:unset;
    font-size:2rem;
    font-weight:600;
    color:var(--color-subtext);
}


/*-----TOOLS MARQUE--------*/
.scoreKeeperIcon{
    height:5rem;
    width:5rem;
    background-color: red;
    border-radius: .35rem;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.incrementor{
    background-color: rgba(95, 95, 95, 0.7);
    height:3.5rem;
    width:3.5rem;
    border-radius:.35rem;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:600;
    font-size:1.85rem;
    user-select: none;          /* Standard */
    -webkit-user-select: none;  /* Safari/Chrome */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}
.incrementor:hover{
    transform: scale(1.15);
}


.stopwatchIcon{
    height:5rem;
    fill:var(--color-text);
    transition: transform .5s ease;
}
.stopwatchIcon:active{
    transform: rotate(360deg);
    fill:var(--color-accent);
}

.stopwatchIcon:hover{
    transform: rotate(360deg);
    fill:var(--color-accent);
}

.timerIcon {
    height:5rem;
    fill:var(--color-text);
    transition: transform .75s ease;
}

.timerIcon:hover {
    transform: rotateX(180deg);
    fill:var(--color-accent);
}

.toolBarIcon {
    height:2.7rem;
    fill:var(--color-text);
    transition: transform .25s ease;
}

.toolBarIcon:hover {
    transform: translatey(-10px);
}

.toolBarIcon:hover .toolBarIconFill {
    fill:var(--color-accent);
}



/*-----BOTTOM STUFF--------*/
.fillTextEffect {
  color: var(--color-text);
  background: linear-gradient(to right, var(--color-accent) 0%, var(--color-accent) 100%);
  background-size: 0% 100%;  /* start empty */
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-size .75s ease;
}

.fillTextEffect:hover {
    color:transparent;
    background-size: 100% 100%; /* fill from left to right */
}