/*
    Author: Connor Kippes
*/
.outerContainer {
    display:flex;
    justify-content:center;
}

.innerContainer {
    padding:1rem;
}

.top{
    text-align:center;
    padding:1rem;
}
.bottom{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    align-self:center;
    padding:1rem;
}

.deleteContainer{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    align-self:center;
    padding:1.5rem;
    max-height:250px;
    overflow-y:scroll;
    border: var(--border-inside);
}

.deleteItem{
    display:flex;
    justify-content:space-between;
    gap:1rem;
    width:100%;
}


.deleteIcon {
    height: 2rem;
    fill:white;
    cursor:pointer;
}

.deleteIcon:hover {
    transform: translateY(-5px);
    fill:var(--color-red);
}

.emptyText{
    text-align:center;
    color: var(--color-subtext);
}

.cancelButton{
    margin:1rem;
    display:flex;
    justify-content:center;
}