/*
    Author: Connor Kippes
*/

.previewContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1rem;
}

.button {
    all: unset;
}

.navItems{
    display:flex;
    gap:2rem;
    text-wrap:none;
}

.title{
    margin-left:1rem;
}

.message{
    text-align:center;
    margin:4rem 0;
}