/*
    Author: Connor Kippes
*/

/*---GENERAL-----*/
.link {
    text-decoration:none;
    color:var(--color-text);
}
.link:hover{
    color:var(--color-accent);
}
.subtext{
    color:var(--color-subtext);
    text-wrap:wrap;
}


/*--DESKTOP HEADER---*/
.dropdownContainer {
    position:relative;
    display: flex;
    justify-content:space-between;
    width:100%;
    text-wrap:wrap;
    gap:2rem;
    padding:1rem;
}
.side{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.inline{
    text-decoration:none;
    display:inline;
    color:var(--color-text);
}

.inline:hover{
    color:var(--color-accent);
    transition: color 0.2s ease;
}
.headerItems {
    display:flex;
    gap: 1rem;
    align-items:center;
}
.loginItems {
    display:flex;
    gap: 1rem;
}
.login{
    padding-top:.5px;
}

.colorText{
    display:inline;
    color: var(--color-accent) !important;
}

/*---MOBILE HEADER--*/
.relative{
    display:relative;
}
.menu{
    padding-top:1rem;
    overflow-y: auto;
    max-height: 65vh;
    z-index:9998;
}

.spacer{
    margin-top:2rem;
}

.mobileMenuContent{
    display:flex;
    flex-direction:column;
    gap:2rem;
    padding:0rem 2rem 1rem 2rem;
    width:100%;
}