.boxWrapper {
    all:unset;
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.box {
    width: 20rem;
    height: 25rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease;
    transform: rotateX(15deg) rotateY(-20deg);
}


.boxWrapper:hover .box{
    transform: rotateY(180deg);
}


.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.front{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left, .right{
    width: 10rem;
    height: 25rem;
}

.top, .bottom{
    height: 10rem;
    width:20rem;
}



.front { transform: rotateY(0deg) translateZ(5rem); }
.back { transform: rotateY(180deg) translateZ(5rem); }
.left { transform: rotateY(-90deg) translateZ(5rem); }
.right { transform: rotateY(90deg) translateZ(15rem); }
.top { transform: rotateX(90deg) translateZ(20rem); }
.bottom { transform: rotateX(-90deg) translateZ(20rem); }

.left, .right, .top, .bottom, .back, .front{
    background-color:#ba8e52;
    border:3px solid rgb(161, 119, 91);
}

.back{
    color:rgb(0, 0, 0);
    display:flex;
    align-items:center;
    font-size:1.5rem;
    padding:1rem;
}