.listCategory {
    font-size:3rem;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-secondary);
}

.listItems li{
    font-size:2rem;
    list-style:none;
    color:var(--color-subtext);
    text-align: center;
    margin: 0;
}

.listItems li:hover{
    filter: brightness(0.8);
    cursor: pointer;
}