/*
    Author: Connor Kippes
*/
.cardContainer {
    display:flex;
    align-items: center;
}

.funButtonContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
