/*
    Author: Connor Kippes
*/

.card{
    width:fit-content;
    background-color: var(--color-secondary);
    border: var(--border-outside);
    box-shadow:var(--box-shadow);
    border-radius:1rem;
}