/*
    Author: Connor Kippes
*/

.container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    border-radius:10px;
    box-shadow:2px 2px 4px black
}

/*-----TOP-----*/

.topContainer{
    display:flex;
    align-items:center;
    width:100%;
    position:relative;
    background-color: hsla(0, 0%, 0%, 0.2);
    color:white;
    padding: 3px;
}

.name {
    all:unset;
    max-width:12rem;
    margin: 0 auto;
    text-align:center;
    font-weight:bold;
    font-family: var(--ff);
    font-size: 24px;
}

.colorInput{
    appearance:none;
    -webkit-appearance:none;
    border:none;
    width: 22px;
    height: 22px;
    border-radius: 9px;
    cursor:pointer;
    transform: translateX(5px);
}
/* Chrome/Safari/iOS */
.colorInput::-webkit-color-swatch-wrapper{ padding: 0px;}
.colorInput::-webkit-color-swatch {
    border:none;
    border-radius:8px;
}
/* Firefox */
.colorInput::-moz-color-swatch {
    border:none;
    border-radius: 8px;
}

.turnNumber{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    font-size:11.2px;
    width:22px;
    height:22px;
    margin:2px 0;
    border-radius:9px;
    color:black;
    mix-blend-mode: screen;
}



/*-----MIDDLE------*/
.middleContainer {
    display:flex;
    flex-direction:row;
    width:100%;
    flex-grow:1;
    min-height:0;
    align-items:center;
    justify-content: center;
}


/*----CENTER-----*/
.scoringContainer{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height:68px;
    width:80px;
    color:black;
    background-color:rgba(255, 255, 255);
    border-radius:20px;
}


.icon {
    width: 16px;
    height: 16px;
    padding: 8px;
    background-color:white;
    fill:black;
    border-radius:50%;
    overflow:visible;
}

.icon:hover {
    cursor:pointer;
}

.svg{
    width:12px;
    height:12px;
}

.button{
    all:unset;
    height:20px;
    width:20px;
    background-color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.confirmButton {
    transform: translateY(4.8px);
}

.cancelButton {
    transform: translateY(-4.8px);
}

.borderSvg {
    position: absolute;
    rotate:90deg;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow:visible;
}


/*----INCREMENTS-----*/

.incrementContainer {
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:5px 10px;
}

.scoreButton {
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: rgba(95, 95, 95, 0.5);
    border: none;
    color:white;
    border-radius: 10px;
    text-align:center;
}

.scoreButton:hover {
    filter:brightness(2);
    cursor: pointer;
}



/*----RIGHT------*/

.historyContainer {
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.8);
    min-height:0;
    height:100%;;
    font-size:12.8px;
    width: 48px;
    border-bottom-right-radius: 10px;
    list-style:none;
    align-items:center;
    gap:5px;
    padding:2px;
}

.historyContainer::-webkit-scrollbar {
  display: none;         /* Chrome, Edge, Safari: hide scrollbar */
}

.historyContainer:focus {
  outline: none;         /* remove focus outline if using keyboard */
}
