/*
    Author: Connor Kippes
*/
.toolsNav{
    display:flex;
    gap:1.5rem;
}

.container{
    display:flex;
    gap:1rem;
    align-items:center;
    flex-wrap:wrap;
}

.menuContent{
    display:flex;
    flex-direction:column;
    gap:2rem;
    padding:1rem 2rem 1rem 2rem;
    width:100%;
}

.title{
    padding-left:1rem;
}

.toolWrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 1px solid var(--color-subtext);
    padding:.5rem;
    height:17rem;
}

.icon{
    fill:var(--color-subtext);
    height:1.5rem;
}

.icon:hover{
    filter:brightness(1.2);
}

.button {
    all: unset;
    align-self:flex-end;
}

.center{
    width:100%;
    text-align:center;
}