/*
    Author: Connor Kippes
*/

.marquee {
    position:relative;
    width:var(--totalWidth);
    margin-inline:auto;
    height:var(--height);
    margin:1rem;
    overflow:visible;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left:calc(var(--width) * -1);
    }
}

.marquee .item{
    position:absolute;
    left: max(calc(var(--width) * var(--quantity)), 100%);
    width:var(--width);
    height:var(--height);
    border-radius:6px;
    animation:scrollLeft var(--duration) linear infinite;
    animation-delay: calc(var(--duration) / var(--quantity) * (var(--quantity) - var(--position)) * -1);
}